<?xml version="1.0"?>

<model>
  <name>Mobile Robotics and Navigation Exercise</name>
  <version>1.0</version>
  <sdf version="1.4">small_room.sdf</sdf>

  <author>
    <name>Àngel Santamaria-Navarro</name>
    <email>asantamaria@iri.upc.edu</email>
  </author>

  <description>
    Square scenario with door
  </description>
</model>
